{ 
    padding:20px;
    margin:20px
}
  body{
         font-family:robot, sans-serif, arial;
         backgrund:# black;
    }
 .width-100{
     width=100;
      float:left;

}

.container{
   width:200px
   margin:0px auto;

}

.top-header{
      background:purple;
  padding:5px 10px;
 
}
.headquote{
    font-size:23px;
    color:black;
     width:80%


}

.header-menu{
  position:relative;
   box-shado:0px 2px 5px 0px;

}
.logo{
   display:flex;
   float:right;
    margin:5;
    padding:5px
 }
.main-menu{
   list-style:none;
    float:right;
      margin-top:10px;
 }
    
.main-menu a{
     font-weight:500;
     color:#3a3a3a;
     font-size:20px;
      text-decoration:none;
    
 }
   
 *{
      padding:0px;
       margin:0px;
    }
.main-menu li{
     float:left;
     padding:12px; 15px;
}
.slider-width{
       display:flex;
    margin:20px;
      width:100%;
      height:400;
     }
 